AddType application/x-httpd-php81 .php
<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteCond %{THE_REQUEST} ^.*/index\.(php|html)
RewriteRule ^(.*)index.(php|html)$ /$1 [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>
